<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>reporting</servlet-name>
    <servlet-class>
      com.example.PentahoServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reporting2</servlet-name>
    <servlet-class>
      com.example.PentahoServlet2
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reporting</servlet-name>
    <url-pattern>/reporting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reporting2</servlet-name>
    <url-pattern>/reporting2</url-pattern>
  </servlet-mapping>
</web-app>
